* {
    font-family: 'Roboto', sans-serif;
}

#glowne { 
    text-align: center;
    background-color: rgb(217, 255, 0);
    width: 45%;
}



body  {
    background-size: 331.25px 127.19999999999999px;
    background-color: rgb(128, 128, 128);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 331.25 127.19999999999999" width="331.25" height="127.19999999999999" style="opacity: 0.5; filter: grayscale(0);"><text x="0em" y="1em" font-size="53" transform="rotate(0 33.125 31.799999999999997)">👍</text><text x="1.25em" y="2em" font-size="53" transform="rotate(0 99.375 84.8)">☀️</text><text x="2.5em" y="1em" font-size="53" transform="rotate(0 165.625 31.799999999999997)">🍺</text><text x="3.75em" y="2em" font-size="53" transform="rotate(0 231.875 84.8)">✈️</text><text x="5em" y="1em" font-size="53" transform="rotate(0 298.125 31.799999999999997)">🛩</text></svg>');
   }

#div1 {
    width: 1000px;
    height: 1000px;
    background-color: blue;
    position: abolute;
}

#div1 {
    width: 1000px;
    height: 1000px;
    background-color: blue;
    position: abolute;
}


  
